html {
  box-sizing: border-box;

  color: #333;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-style: normal;
  font-size: .875rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #f2f2f2;
}

h2 {
  text-align: center;
  color: #333;
  font-size: 2.5rem;
  font-weight: bold;
}

h3 {
  margin: 0;
  color: #333;
}

.columns {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 1px;
}

div {
  float: left;
  width: 25%;
  padding: .75rem;
  overflow: hidden;
  min-height: 414px;
  border: 1px solid #333;
  border-top: none;
  border-bottom: none;
  border-right: none;
}

img {
  display: block;
  margin: 0 auto 1.5rem;
  width: 100px;
}

.italic {
  font-style: italic;
  font-size: .875rem;
  margin: 0;
  color: #333;
}

.anderon {
  background-color: #e2e2e2;
}

.dinosaur {
  background-color: #ccc;
}

.dragon {
  background-color: #aaa;
}

.laser {
  background-color: #999;
  border: 1px solid #333;
  border-top: none;
  border-bottom: none;
}

a {
  text-decoration: none;
  border-style: solid;
  border-width: 3px;
  border-radius: 8px;
  padding: .4em .75em .5em;
  display: inline-block;
}

.btn {
  background-color: #333;
  color: #fff;
  border-color: #333;
  display: inline-block;
}

.btn-small {
  font-size: .875rem;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
}

.author {
  margin: 0 0 1.5rem;
  font-size: 1rem;
}
